.back-home {
  position: fixed;
  top: 20px;
  left: 20px;

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black;
  }

  &__link-text {
    @media #{$mobile} {
      font-size: 14px;
    }

    @media #{$noMobile} {
      font-size: 16px;
    }
  }

  &__icon {
    @media #{$mobile} {
      width: 20px;
    }

    @media #{$noMobile} {
      width: 25px;
    }
  }
}